@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
body{

	background-image: url(pic/beach.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	
}



.div{
	
	background-color: grey;
	height: 5px;
	margin: 30px 80px 0px 80px;
	

}
.header{
    box-shadow: 5px 10px 8px hsla(0, 0%, 0% ,0.7) ;
	background-color: hsla(0, 0%, 0% ,0.8) ;
	padding: 30px;
	margin: 0px 80px 0px 80px;

	}
	



ul, li,a{

	font-family: 'Lato', sans-serif;
	text-decoration: none;
	list-style-type: none;
	display: inline;


}

a{
	
	margin: 20px 29px 20px 29px;
	color: grey;
	font-size: 20px;

	
}

a:hover{
color: rgb( 0, 225,255);
	}

.Social {
	color:  rgb( 0, 225,255);
	text-decoration: overline;
	font-size: 21px;
	

}

/*
.search{
	padding: 10px;
	position: relative;
	width: 220px;
	margin: 0px 0px 0px 20px;
	background-color: hsla(0, 0%, 0% ,0.3) ;
	color: white;
	font-size: 14px;

 
}

.logo{
	
	position: relative;
	top: 10px;
	margin: 0px 0px 0px 320px;
}*/

.footer{


    padding: 20px;
	background-color: black;
}



.bar1, .bar2, .bar3{
	background-color:  grey;
	height: 3px;
	width: 30px;
	margin:7px 10px;
	transition: 0.5s;

	
}
.mation .bar1{
	-webkit-transform: rotate(-45deg) translate(-10px, 10px);
    transform: rotate(-45deg) translate(-10px, 10px);
    background-color: green;
}

.mation .bar2{
	opacity: 0;
}
.mation .bar3{
	 -webkit-transform: rotate(45deg) translate(-9px, -6px);
    transform: rotate(45deg) translate(-9px, -6px);
    background-color: blue;
}



.menu{
	position: absolute;
	left: 100px;
	top: 62px;
	cursor: pointer;
}

.logo {
	border-radius: 40px 40px;
	position: absolute;
	right: 120px;
	top: 50px;
}

